[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-restplus = "*"
flask-migrate = "*"
flask-script = "*"
flask-testing = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
psycopg2 = "*"

[dev-packages]
autopep8 = "*"
ipdb = "*"

[requires]
python_version = "3.8"
